<configuration>
  <system.webServer>
    <handlers>
      <clear/>
      <add name="iisnode" path="dist/server.js" verb="*" modules="iisnode" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="all">
          <match url="/*" />
          <action type="Rewrite" url="dist/server.js" />
        </rule>
      </rules>
    </rewrite>
    <iisnode watchedFiles="*.js;node_modules\*;dist\*.js"  
             nodeProcessCommandLine="D:\Program Files\nodejs\node.exe"
             debuggerPortRange="5058-6058"
             debuggerPathSegment="debug"  
      maxNamedPipeConnectionRetry="3"  
      namedPipeConnectionRetryDelay="2000"/>
  </system.webServer>
</configuration>